<?xml version="1.0" encoding="utf-8" ?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
  <!-- Add your custom configuration sections and parameters here -->
  <!--
  <Section Name="MyConfigSection">
    <Parameter Name="MyParameter" Value="Value1" />
  </Section>
  -->

	<Section Name="DbConfig">
		<Parameter Name="UserDbConnectionString" Value="Server=localhost,1434;Database=UserDB;User Id=sa;Password=TravelApp2026!#;TrustServerCertificate=True;"/>
	</Section>

	<Section Name="JwtConfig">
		<Parameter Name="Key" Value="OvoJEtajniKljucZaTravELPLanning824!##$%"/>
		<Parameter Name="Issuer" Value="TravelPlanning"/>
		<Parameter Name="Audience" Value="TravelPlanning"/>
		<Parameter Name="ExpirationMinutes" Value="120"/>
	</Section>
</Settings>
