<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt.Net-Next" version="4.2.0" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.JsonWebTokens" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.ServiceFabric" version="11.3.475" targetFramework="net48" />
  <package id="Microsoft.ServiceFabric.Data" version="8.3.475" targetFramework="net48" />
  <package id="Microsoft.ServiceFabric.Data.Extensions" version="8.3.475" targetFramework="net48" />
  <package id="Microsoft.ServiceFabric.Data.Interfaces" version="8.3.475" targetFramework="net48" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="8.3.475" targetFramework="net48" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Internal" version="8.3.475" targetFramework="net48" />
  <package id="Microsoft.ServiceFabric.Services" version="8.3.475" targetFramework="net48" />
  <package id="Microsoft.ServiceFabric.Services.Remoting" version="8.3.475" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.1" targetFramework="net48" />
  <package id="System.IdentityModel.Tokens.Jwt" version="6.35.0" targetFramework="net48" />
  <package id="System.Memory" version="4.6.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.1" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.2" targetFramework="net48" />
  <package id="System.Text.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="4.7.2" targetFramework="net48" />
  <package id="System.Text.Json" version="4.7.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
</packages>